.nav-size {
    height: 100px;
}

h1.navbar-brand {
    font-size: 40px;
}

.bg-azul-unam {
    background-color: #202c56;

}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

#qr-code {
    display: none;
}


@media only screen and (max-width: 767px) {
    #nav-sm {
        display: block;
    }

    #nav-md {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #nav-sm {
        display: none;
    }

    #nav-md {
        display: block;
    }
}